<app-navbar></app-navbar>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{firstName}}  {{lastName}}</span><span class="text-black-50">{{email}}</span><span> </span>
           
           
           <span class="text-black-50"> phone : {{phone}}</span>
           <span class="font-weight-bold">post : {{post}}</span>
           <br>
          <div class="col-md-6 d-flex justify-content-center" >
            <button  (click)="LougOut()"  class="btn-pink">
                <span class="btn-gradient">
                  <i class="fa fa-close"></i>
                </span>
                <span class="btn-text">LougOut</span>
              </button>
          </div>
            </div>
        </div>
        <div class="col-md-9 border-right">
            <div class="p-3 py-5" >
                <div class="row">
                    <div class="col-md-6" *ngFor="let reclamation of reclamations">
                        <div >
                            <div class="card">
                              
                              <div class="card_content">
                                <div class="card_title">
                                 <div class="row">
                                  <div class="col">
                                    <h4>{{reclamation.title}} </h4>
                                  </div>
                                  <div class="col">
                                    <p>{{reclamation.createdAt | date: 'short' }}</p>
            
                                  </div>
                                 </div>
                                
                                  
                                </div>
                                
                                <div class="card_text">
                                  <p>{{reclamation.description}}
                                    
                                  </p>
                                  
                                </div>
                              </div>
                            </div>
                            <br>
                          </div>
                           
                    </div>
                </div>
            
               
     
            </div>
           
            <div class="row mb-10" *ngIf="!reclamations.length">
              <h4>No Reclamations !</h4>
            </div>
        </div>
        <div class="col-md-3">
           
        </div>
    </div>
</div>

<app-footer></app-footer>